.container-swiper,
.row {
      position: relative;
      height: 80%;
    }

    .col {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .col swiper-container {
      width: 80%;
      height: auto;
    }

    .col swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .col swiper-slide img {
      display: block;
      width: 80%;
      height: auto;
      object-fit: cover;
    }

    .col swiper-container {
      margin-left: auto;
      margin-right: auto;
    }
